<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">FlashFolio</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <style>
        html, body { height: 100%; }
        body { display: flex; flex-direction: column; }
        main { flex: 1; }
        .hover-white:hover { color: white !important; }
    </style>
</head>
<body class="bg-light">

<!-- [추가] 사이드바 컴포넌트 포함 -->
<div th:replace="~{components/sidebar :: sidebar}"></div>

<div th:replace="~{components/header :: header}"></div>

<main th:replace="${content}"></main>

<div th:replace="~{components/footer :: footer}"></div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>