<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${question.subject}">상세 페이지</h1>
    <div th:text="${question.content}"></div>

    <form th:action="@{|/answer/create/${question.id}|}" method="post">
        <textarea id="contents" name="contents" rows="15"></textarea>
        <input type="submit" value="답변 등록">
    </form>
</body>
</html>